/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 10, 2025, 10:47:36 PM
    Author     : Nahla 
*/

html, body {
    overflow-x: hidden;
}

header{
    background-color: #85a05d;
    color: white;
}

.headtag{
    font-family: fantasy;
    font-size: 35px;
}

nav{
    background-color: #607240;
}

.nav-content{
    font-weight: bolder;
    font-size: 18px;
}

.login{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    padding-left: 50px;
}

footer{
    background-color: #607240;
}

.welcome-text {
    font-size: 45px;
    font-weight: bolder;
    /* Optionally add more styling */
    color: #607240;      /* Example text color */
    margin-bottom: 20px;
}

.custom-container {
    /*  margin-bottom: 10px*/
}

.motto{
    font-size: 20px;
    margin-bottom: 20px;
}

.btn{
    background-color: #85a05d;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}



/*about us page*/
.about{
    padding-left: 80px;
}

.services{
    background-color: #85a05d;
}

.ourservices{
    color: white;
}

.site{
    font-size: 80px;
    color: white;
}

.service-text{
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.description{
    font-size: 18px;
    color: white;
}

.about-closing{
    font-size: 20px;
    padding: 70px;
    margin-bottom: 40px;
    margin-top: 40px;

}

.chooseus{
    font-size: 35px;
    font-weight: bolder;
    color: #607240;
    margin-bottom: 20px;
}


/*how it works page*/
.steps{
    margin-top: 30px;
}

.steps-left{
    font-size: 20px;
    padding-left: 120px;
}

.steps-right{
    font-size: 20px;
    padding-right: 120px;
}

.how-closing{
    font-size: 20px;
    padding: 70px;
    margin-top: 40px;
}


/*Contact us page*/
.contact-form{
    padding-left: 30px;
}

.friend{
    padding: 4.5px;
}


/*Login page*/
.login-container {
    height: 100vh;
}

.loginpic{
    padding-top: 120px;
}

.login-section{
    background-color: #85a05d;
}

.loginfont{
    font-family: fantasy;
    text-align: center;
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

.form-label{
    color: white;
    font-size: 18px;
    padding-left: 85px;
}

.login-form-label{
    padding-left: 85px;
    color: white;
    font-weight: bold;
}

.submitbtn{
    background-color: #607240;
    padding: 10px 100px 10px 100px;
    margin-top: 20px;
    font-weight: bold;
}


/*Sign Up page*/
.signupfont{
    font-family: fantasy;
    text-align: center;
    color: white;
    font-size: 45px;
    margin-bottom: 10px;
}

.signup-form-label{
    padding-left: 85px;
    color: white;
    font-weight: bold;
}

.login-font{
    font-family: serif;
    text-align: center;
    color: white;
    text-decoration: underline;
    margin-top: 10px;
}

.text-danger {
    color: darkred !important;
    font-size: 0.9rem;
    margin-top: 5px;
    padding-left: 85px;
}


